<h1>ACP TIMES CALCULATOR</h1>
<form action="/new" method="POST">
  <p>Total Distance:</p>
  <input type="text" name="name"></input>
  <p>Nominal Distance:</p>
  <input type="text" name="description"></input>
  <p>Time:</p>
  <input type="time" name="time" value="2017-01-01"></input>
  <p>Date:</p>
  <input type="date" name="date" value="00:00"></input>
  <input type="submit"></input>
</form>

{% for item in items %}
  <h2> {{ items }} </h2>
{% endfor %}

<form action="/display">
	<button type="submit" name="Display">Display</input>
</form>
